            <article itemscope itemtype="http://schema.org/BlogPosting">
                <h2 itemprop="headline">
                    <a itemprop="url" href="${_url_}">
                        <b>#</b> <span itemprop="name">${_name_}</span>
                    </a>
                </h2>

                <div class="date">
                    <time itemprop="datePublished" content="${_year_}-${_month_}-${_day_}" datetime="${_year_}-${_month_}-${_day_}">${_day_}/${_month_}/${_year_}</time>
                </div>

                <!--<div>-->
                <!--    Source: <a href="https://raw.github.com/qbbr/source.qbbr.github.io/master/_posts/2013-07-10-convert-isowv-to-ogg-with-split-via-cue.md">markdown</a>-->
                <!--</div>-->

                <div class="post" itemprop="articleBody">
                    <!-- content post.html -->

${_content_}

                    <!-- /content post.html -->
                </div>
            </article>
