            <article itemscope itemtype="http://schema.org/BlogPosting">
                <h2 itemprop="headline">
                    <a itemprop="url" href="${_url_}">
                        <b>#</b> <span itemprop="name">${_name_}</span>
                    </a>
                </h2>

                <div class="tags">
                    <b>&sect; tags: </b>
                    ${_taglist_}
                </div>

                <div class="date">
                    <h2><time itemprop="datePublished" content="${_year_}-${_month_}-${_day_}" datetime="${_year_}-${_month_}-${_day_}">${_day_}/${_month_}/${_year_}</time></h2>
                </div>

                <div class="post" itemprop="articleBody">
                    <!-- content post.html -->

${_content_}

                    <!-- /content post.html -->
                </div>
            </article>
