:root {
    /* accent colors */
    --color-yellow: #b58900;
    --color-orange: #cb4b16;
    --color-red: #dc322f;
    --color-magenta: #d33682;
    --color-violet: #6c71c4;
    --color-blue: #268bd2;
    --color-cyan: #2aa198;
    --color-green: #859900;
}

/* default */
@media (prefers-color-scheme: light) {
    :root {
        /* bg tones */
        --color-base03: #fdf6e3;
        --color-base02: #eee8d5;
        /* content tones */
        --color-base01: #93a1a1;
        --color-base00: #839496;
        --color-base0: #657b83;
        --color-base1: #586e75;
        /* bg tones */
        --color-base2: #073642;
        --color-base3: #002b36;
    }
}

[data-theme="light"] {
    /* bg tones */
    --color-base03: #fdf6e3;
    --color-base02: #eee8d5;
    /* content tones */
    --color-base01: #93a1a1;
    --color-base00: #839496;
    --color-base0: #657b83;
    --color-base1: #586e75;
    /* bg tones */
    --color-base2: #073642;
    --color-base3: #002b36;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* bg tones */
        --color-base03: #002b36;
        --color-base02: #073642;
        /* content tones */
        --color-base01: #586e75;
        --color-base00: #657b83;
        --color-base0: #839496;
        --color-base1: #93a1a1;
        /* bg tones */
        --color-base2: #eee8d5;
        --color-base3: #fdf6e3;
    }
}

[data-theme="dark"] {
    /* bg tones */
    --color-base03: #002b36;
    --color-base02: #073642;
    /* content tones */
    --color-base01: #586e75;
    --color-base00: #657b83;
    --color-base0: #839496;
    --color-base1: #93a1a1;
    /* bg tones */
    --color-base2: #eee8d5;
    --color-base3: #fdf6e3;
}

* { box-sizing: border-box; }

body {
    font: 1.2em/1.62 Hack, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: var(--color-base0);
    background-color: var(--color-base03);
    margin: 0 auto;
    padding: 0 1em;
    max-width: 40em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    color: var(--color-base2);
}

hr {
    height: 0;
    font-size: 0;
    border: none;
    border-top: 1px dashed var(--color-base01);
}

a {
    text-decoration: none;
    color: var(--color-base2);
    transition: color .2s;
}

    a:hover {
        text-decoration: none;
        color: var(--color-blue);
    }

    a::before,
    a::after {
        color: transparent;
        transition: color .2s;
        font-weight: bold;
        white-space: nowrap;
    }

    a::before {
        content: "{ ";
    }

    a::after {
        content: " }";
    }

    a:hover::before,
    a:hover::after,
    a:focus::before,
    a:focus::after {
        color: var(--color-base01);
    }

time {
    color: var(--color-base01);
}


/*
 * index.html
 */
.page-index {
    text-align: center;
}

    .page-index h2 {
        display: inline-block;
        font-weight: 300;
    }


/*
 * about/index.html
 */
.page-about {
    text-align: center;
}

    .page-about p {
        text-align: justify;
        padding-left: 1em;
        padding-right: 1em;
    }

    .page-about img.ava {
        display: block;
        border-radius: 50%;
        width: 40%;
        margin: 0 auto;
    }

    .page-about > ul { text-align: left; padding-left: 1em; }
    .page-about > ul > li { font-weight: 800; color: var(--color-base1); }
    .page-about > ul > li em { font-weight: 300; }
    .page-about > ul > li > ul > li { font-weight: 600; color: var(--color-base0); }
    .page-about > ul > li > ul > li > ul > li { font-weight: 400; }
    .page-about > ul > li > ul > li > ul > li > ul > li { font-weight: 300; }


/*
 * base.html
 */
header {
    text-align: center;
}

    header h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.5em;
        border-bottom: 1px dashed var(--color-base01);
        padding-top: 1em;
        padding-bottom: 1em;
    }

        header span {
            color: var(--color-blue);
            transition: color .2s;
        }

        header a:hover span {
            color: var(--color-base2);
        }

        header .s2 {
            display: none;
        }

        header .s1,
        header .s2 {
            color: var(--color-base00);
        }

footer {
    color: var(--color-base01);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px dashed var(--color-base01);
}

    footer a {
        color: var(--color-base00);
    }

    footer a::before,
    footer a::after {
        content: none;
        font-weight: unset;
    }

        a.theme-switcher-btn::after {
            content: "theme: light";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' height='16' width='16' style='fill: %2393a1a1;'%3E%3Cpath fill-rule='evenodd' d='M8 10.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM8 12a4 4 0 100-8 4 4 0 000 8zM8 0a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0V.75A.75.75 0 018 0zm0 13a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 018 13zM2.343 2.343a.75.75 0 011.061 0l1.06 1.061a.75.75 0 01-1.06 1.06l-1.06-1.06a.75.75 0 010-1.06zm9.193 9.193a.75.75 0 011.06 0l1.061 1.06a.75.75 0 01-1.06 1.061l-1.061-1.06a.75.75 0 010-1.061zM16 8a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 0116 8zM3 8a.75.75 0 01-.75.75H.75a.75.75 0 010-1.5h1.5A.75.75 0 013 8zm10.657-5.657a.75.75 0 010 1.061l-1.061 1.06a.75.75 0 11-1.06-1.06l1.06-1.06a.75.75 0 011.06 0zm-9.193 9.193a.75.75 0 010 1.06l-1.06 1.061a.75.75 0 11-1.061-1.06l1.06-1.061a.75.75 0 011.061 0z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right;
            padding-right: 20px;
            color: var(--color-base00);
        }

        [data-theme="dark"] a.theme-switcher-btn::after {
            content: "theme: dark";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' height='16' width='16' style='fill: %23586e75;'%3E%3Cpath fill-rule='evenodd' d='M9.598 1.591a.75.75 0 01.785-.175 7 7 0 11-8.967 8.967.75.75 0 01.961-.96 5.5 5.5 0 007.046-7.046.75.75 0 01.175-.786zm1.616 1.945a7 7 0 01-7.678 7.678 5.5 5.5 0 107.678-7.678z'%3E%3C/path%3E%3C/svg%3E");
        }
        @media (prefers-color-scheme: dark) {
            a.theme-switcher-btn::after {
                content: "theme: dark";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' height='16' width='16' style='fill: %23586e75;'%3E%3Cpath fill-rule='evenodd' d='M9.598 1.591a.75.75 0 01.785-.175 7 7 0 11-8.967 8.967.75.75 0 01.961-.96 5.5 5.5 0 007.046-7.046.75.75 0 01.175-.786zm1.616 1.945a7 7 0 01-7.678 7.678 5.5 5.5 0 107.678-7.678z'%3E%3C/path%3E%3C/svg%3E");
            }
        }

    footer .peace-no-war {
        display: inline-block;
        margin-top: 5px;
        cursor: help;
        user-select: none;
    }

        footer .peace-no-war span {
            padding: 5px;
        }

        footer .peace-no-war .peace {
            background-color: #dc322f;
            color: white;
        }

        footer .peace-no-war .no-war {
            background-color: #cb4b16;
            color: black;
        }

    footer .peace-no-war:hover .peace {
        background-color: #cb4b16;
        color: black;
    }
    footer .peace-no-war:hover .no-war {
        background-color: #dc322f;
        color: white;
    }


/*
 * posts.html / posts_item.html
 */
.posts {
    overflow: hidden;
}
    .posts h2 {
        font-weight: 300;
        text-align: center;
        color: var(--color-base1);
    }

    .posts ol {
        padding-left: 2.6em;
    }

        .posts li {
        }

            .posts li div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
            }

                .posts a {
                    white-space: nowrap;
                    font-size: 1.2em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-right: 1em;
                }

                    .posts a::before {
                        content: "# ";
                        font-weight: 300;
                    }

                    .posts a::after {
                        content: none;
                    }

                .posts time {
                    background-color: var(--color-base03);
                    transition: color .2s;
                }

                .posts li:hover time {
                    color: var(--color-base00);
                }


/*
 * post.html
 */
article {}

    article h2 {
        text-align: center;
        font-weight: 300;
    }

    article .post a {
        border-bottom: 1px dotted var(--color-base01);
    }

        article .post a::before,
        article .post a::after {
            content: none;
        }

        article .post a.img {
            display: block;
            text-align: center;
            text-decoration: none;
            border-bottom: none;
        }

        article .post a.img::before {
            content: none;
        }

        article .post a.img::after {
            content: none;
        }

        article .post a.img img {
            max-width: 100%;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            transition: all .2s;
            filter: grayscale(100%);
        }

        article .post .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 2px;
        }

            article .post .row .column {
                flex: 50%;
                max-width: 50%;
                padding: 0 2px;
            }

                article .post .row .column p {
                    margin: 0;
                }

                article .post .row .column img {
                    margin-top: 4px;
                    vertical-align: middle;
                    width: 100%;
                }

        article .post a.img:hover img {
            border-color: var(--color-blue);
            filter: grayscale(0%);
        }

        article .post table {
            border-collapse: collapse;
        }

            article .post table th,
            article .post table td {
                padding: .3em;
                border-left: 1px dashed var(--color-base01);
                border-right: 1px dashed var(--color-base01);
            }

            article .post table td {
                border-top: 1px dashed var(--color-base01);
            }

            article .post table th:first-child,
            article .post table td:first-child {
                border-left: none;
            }

            article .post table th:last-child,
            article .post table td:last-child {
                border-right: none;
            }

    article .date,
    article .tags {
        text-align: center;
    }

    pre {
        overflow: auto;
        line-height: 1.1;
        background-color: var(--color-base02);
        padding: .25em;
        border: 1px dashed var(--color-base01);
        /*border-radius: 3px;*/
    }

    code {
        font-family: Hack, monospace;
        /*font-size: 16px;*/
        background-color: var(--color-base02);
        padding: .25em;
        border: 1px dashed var(--color-base01);
        /*border-radius: 3px;*/
        white-space: nowrap;
    }

        pre code {
            border: none;
            padding: 0;
            white-space: unset;
        }

          pre code a {
              border-bottom: none !important;
          }


/*
 * tags.html / tag_item.html (same as .posts)
 */


/*
 * media queries
 */
@media print {
    body {
        max-width: none
    }
}

@media only screen and (max-width: 768px) {
    header a {
        display: block;
    }

    header .s1 {
        display: none;
    }

    header .s2 {
        display: block;
    }

    .posts li {
        font-size: 1rem;
    }

    article .post .row .column {
        flex: 100%;
        max-width: 100%;
    }

    article .post a.img img {
        filter: unset;
    }

    code {
        white-space: break-spaces;
        /*line-height: 3rem;*/
    }
}
