body {
    font: 1.2em/1.62 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #073642;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 40em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

hr {
    height: 0;
    font-size: 0;
    border: none;
    border-top: 1px dotted #bbb;
}

a {
    text-decoration: none;
    color: #002b36;
    transition: color .2s;
}

    a:hover {
        text-decoration: none;
        color: #268bd2;
    }

    a::before,
    a::after {
        color: white;
        transition: color .2s;
        font-weight: bold;
    }

    a::before {
        content: "{ ";
    }

    a::after {
        content: " }";
    }

    a:hover::before,
    a:hover::after,
    a:focus::before,
    a:focus::after {
        color: #002b36;
    }

time {
    color: #839496;
}


/*
 * index.html
 */
.page-index {
    text-align: center;
}

    .page-index h2 {
        display: inline-block;
        font-weight: 300;
    }


/*
 * about/index.html
 */
.page-about {
    text-align: center;
}

    .page-about p {
        text-align: justify;
        padding-left: 1em;
        padding-right: 1em;
    }

    .page-about img.ava {
        display: block;
        border-radius: 50%;
        width: 40%;
        margin: 0 auto;
    }

    .page-about > ul { text-align: left; padding-left: 1em; }
    .page-about > ul > li { font-weight: 800;  }
    .page-about > ul > li em { font-weight: 300; }
    .page-about > ul > li > ul > li { font-weight: 600; }
    .page-about > ul > li > ul > li > ul > li { font-weight: 400; }
    .page-about > ul > li > ul > li > ul > li > ul > li { font-weight: 300; }


/*
 * base.html
 */
header {
    text-align: center;
}

    header h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.5em;
        border-bottom: 1px dotted #bbb;
        padding-top: 1em;
        padding-bottom: 1em;
    }

        header span {
            color: #268bd2;
            transition: color .2s;
        }

        header a:hover span {
            color: #002b36;
        }

        header .s2 {
            display: none;
        }

        header .s1,
        header .s2 {
            color: #839496;
        }

footer {
    color: #657b83;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px dotted #bbb;

}

    footer a {
        color: #657b83;
    }


/*
 * posts.html / posts_item.html
 */
.posts {
    overflow: hidden;
}
    .posts h2 {
        font-weight: 300;
        text-align: center;
        color: #002b36;
    }

    .posts ol {
        padding-left: 1.6em;
    }

        .posts li {
            position: relative;
        }

        .posts a {
            white-space: nowrap;
            font-size: 1.2em;
            /*margin-left: .5em;*/
            display: block;
        }

        .posts a::before {
            content: "# ";
            font-weight: 300;
        }

        .posts a::after {
            content: none;
        }

        .posts time {
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
            padding-left: 1em;
            line-height: 1.944em;
            transition: color .2s;
        }

        /*.posts li:hover time {*/
        /*    color: #002b36;*/
        /*}*/


/*
 * post.html
 */
article {}

    article h2 {
        text-align: center;
        font-weight: 300;
    }

    article .post a {
        border-bottom: 1px dotted #bbb;
    }

        article .post a::before,
        article .post a::after {
            content: none;
        }

        article .post a.img {
            display: block;
            text-align: center;
            text-decoration: none;
            border-bottom: none;
        }

        article .post a.img::before {
            content: none;
        }

        article .post a.img::after {
            content: none;
        }

        article .post a.img img {
            max-width: 100%;
            border-width: 2px;
            border-style: solid;
            border-color: white;
            transition: all .2s;
            filter: grayscale(100%);
        }

        article .post a.img:hover img {
            border-color: #268bd2;
            filter: grayscale(0%);
        }

        article .post table {
            border-collapse: collapse;
        }

            article .post table th,
            article .post table td {
                padding: .3em;
                border-left: 1px dotted #bbb;
                border-right: 1px dotted #bbb;
            }

            article .post table td {
                border-top: 1px dotted #bbb;
            }

            article .post table th:first-child,
            article .post table td:first-child {
                border-left: none;
            }

            article .post table th:last-child,
            article .post table td:last-child {
                border-right: none;
            }

    article .date,
    article .tags {
        text-align: center;
    }

    pre {
        overflow: auto;
        line-height: 1.1;
        background-color: #eee;
        padding: .25em;
        border: 1px dotted #bbb;
        border-radius: 3px;
    }

    code {
        font-family: terminus, "Lucida Console", Monaco, monospace;
        /*font-size: 16px;*/
        background-color: #eee;
        padding: .25em;
        border: 1px dotted #bbb;
        border-radius: 3px;
        white-space: nowrap;
    }

        pre code {
            border: none;
            padding: 0;
            white-space: unset;
        }

          pre code a {
              border-bottom: none !important;
          }


/*
 * tags.html / tag_item.html (same as .posts)
 */


/*
 * media queries
 */
@media print {
    body {
        max-width: none
    }
}

@media only screen and (max-width: 768px) {
    header a {
        display: block;
    }

    header .s1 {
        display: none;
    }

    header .s2 {
        display: block;
    }

    .posts li {
        font-size: 1rem;
    }

    article .post a.img img {
        filter: unset;
    }
}
