@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@blue_color: #248;

.fucking-ie { display: none; }

body {
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;

    &.index {
        background: url(/images/background.png) fixed no-repeat 10% 50%;
    }
}

header {
    line-height: normal;
    margin-bottom: 15px;
    text-align: center;
    padding: 0;

    h1 {
        border-bottom: 1px dotted #bbb;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 60px;
        padding: 50px 0 60px 0;

        span {
            color: @blue_color;
        }
    }
}

a {
    text-decoration: none;
    border: 0;
    color: black;
    display: inline-block;

    &:before,
    &:after {
        color: white;
        border: 0;
    }

    &:before {
        content: "{ ";
    }

    &:after {
        content: " }";
    }
    &:hover {
        text-decoration: none;
        color: @blue_color;

        &:before,
        &:after {
            color: black;
        }
    }

    /* roll link */
    &.roll-link {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;

        -webkit-perspective: 600px;
        -moz-perspective: 600px;
        -ms-perspective: 600px;
        perspective: 600px;

        -webkit-perspective-origin: 50% 50%;
        -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;

        &:hover {
            text-decoration: none;

            span {
                background: @blue_color;

                -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
                -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
                -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
                transform: translate3d(0px, 0px, -30px) rotateX(90deg);
            }
        }

        span {
            display: inline-block;
            position: relative;
            padding: 0 2px;

            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            transition: all 400ms ease;

            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;

            &:after {
                content: attr(data-title);

                display: block;
                position: absolute;
                left: 0;
                top: 0;
                padding: 0 2px;

                color: #fff;
                background: @blue_color;

                -webkit-transform-origin: 50% 0%;
                -moz-transform-origin: 50% 0%;
                -ms-transform-origin: 50% 0%;
                transform-origin: 50% 0%;

                -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
                -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
                -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
                transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
            }
        }
    }

}

section.index {
    position: fixed;
    bottom: 150px;
    right: 45px;
    text-align: right;

    h1 {
        letter-spacing: 10px;
    }

    ul,
    li {
        display: inline;
    }

    ul {
        margin-top: 15px;
        padding-left: 0;
    }

    li {
        margin-left: 4px;
        margin-right: 4px;
    }

    a {
        font-size: 28px;

        &:hover {
            -webkit-animation: shadow, animate .5s infinite alternate;
            -moz-animation: shadow, animate .5s infinite alternate;
            -o-animation: shadow, animate .5s infinite alternate;
            animation: shadow, animate .5s infinite alternate;

            &:before,
            &:after {
                -webkit-animation: shadow 1s infinite alternate;
                -moz-animation: shadow 1s infinite alternate;
                -o-animation: shadow 1s infinite alternate;
                animation: shadow 1s infinite alternate;
            }
        }
    }
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;

    small {
        margin-right: 5px;
    }
}

/* avatar index page */
section.qbbr {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 45px;
    top: 45px;
    /*overflow: hidden;*/

    .avatar-wrapper {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;

        &:after {
            border-radius: 50%;
            position: absolute;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5) inset;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
        }

        &:hover img {
            -webkit-animation: rotate 0.4s ease-out;
            -moz-animation: rotate 0.4s ease-out;
            -o-animation: rotate 0.4s ease-out;
            animation: rotate 0.4s ease-out;
        }

        &:hover .tooltip { display: block; }

        img {
            width: 100px;
            height: 100px;
            -webkit-animation: rotateback 0.2s ease-out;
            -moz-animation: rotateback 0.2s ease-out;
            -o-animation: rotateback 0.2s ease-out;
            animation: rotateback 0.2s ease-out;
        }
    }

    .tooltip {
        display: none;
        font-size: 12px;
        font-family: monospace;
        width: 350px;
        position: absolute;
        top: 10px;
        right: 125px;
        background: black;
        color: white;
        padding: 5px;
        border: 4px solid black;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, .1) 1px 1px 2px 0px;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent transparent black;
            top: 22px;
            right: -24px;
        }
    }
}

/* blog */
section.blog {
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 50px;

    time {
      display: inline-block;
      float: right;
      font-size: 21px;
      font-variant: 1.5;
      background-color: white;
      padding-left: 5px;
    }

    article {
        margin: 1em 0;
        background: #fff url(/images/dot.png) repeat-x 0 1.2em;

        &:hover time {
            color: @blue_color;
            border-bottom: 1px dotted #bbb;
        }

        h2 {
            display: inline-block;
            margin: 0;
            font-weight: 300;
            background-color: white;
        }
    }

}

/* blog post */
section.blog-post {
    padding-bottom: 50px;

    article {
        background: none;

        &:hover time {
            border: none;
            color: inherit;
        }

        h2 {
            display: block;
            text-align: center;
            font-size: 46px;
        }
    }

    time {
        display: block;
        float: none;
        text-align: center;
    }

    div.post {
        pre {
            margin: 1em 0;
            background-color: #eee;
            border: 1px dotted #bbb;
            overflow: auto;
            padding: 5px;
            -webkit-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        a {
            border-bottom: 1px dotted #bbb;
        }
    }
}

/* tag */
section.tag {
    article {
        background: none;
    }

    .set-1 {
        font-size: 100%;
        color: #999;
    }

    .set-2 {
        font-size: 120%;
        color: #888;
    }

    .set-3 {
        font-size: 140%;
        color: #777;
    }

    .set-4 {
        font-size: 160%;
        color: #666;
    }

    .set-5 {
        font-size: 180%;
        color: #555;
    }
}

/* code highlight table */
table.highlighttable {
    width: 100%;
    border-collapse: collapse;
}

table.highlighttable .linenos {
    width: 30px;
}

/* comments */
#disqus_thread {
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* animation */
@-webkit-keyframes shadow {
    from { text-shadow: 0 0 0 #555; }
    to   { text-shadow: 0 0 10px #555; }
}
@-moz-keyframes shadow {
    from { text-shadow: 0 0 0 #555; }
    to   { text-shadow: 0 0 10px #555; }
}
@-o-keyframes shadow {
    from { text-shadow: 0 0 0 #555; }
    to   { text-shadow: 0 0 10px #555; }
}
@keyframes shadow {
    from { text-shadow: 0 0 0 #555; }
    to   { text-shadow: 0 0 10px #555; }
}

@-webkit-keyframes animate {
    from { -webkit-transform: scale(1); }
    to   { -webkit-transform: scale(1.5); }
}
@-moz-keyframes animate {
    from { -moz-transform: scale(1); }
    to   { -moz-transform: scale(1.5); }
}
@-o-keyframes animate {
    from { -o-transform: scale(1); }
    to   { -o-transform: scale(1.5); }
}
@keyframes animate {
    from { transform: scale(1); }
    to   { transform: scale(1.5); }
}

@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform: rotate(-360deg); }
}
@-o-keyframes rotate {
    0% { -o-transform: rotate(-360deg); }
}
@keyframes rotate {
    0% { transform: rotate(-360deg); }
}

@-webkit-keyframes rotateback {
    0% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotateback {
    0% { -moz-transform: rotate(360deg); }
}
@-o-keyframes rotateback {
    0% { -o-transform: rotate(360deg); }
}
@keyframes rotateback {
    0% { transform: rotate(360deg); }
}
