---
layout: default
---
        <section class="blog blog-post tag">
            <header>
                <h1><a href="/">qbbr<span>.io</span></a> / <a href="/blog/">blog</a></h1>
            </header>

            <article>
                <h2>{{ page.tag }}</h2>
                <ul>
                {% for post in page.posts %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%d/%m/%Y" }})</li>
                {% endfor %}
                </ul>

                <h3>Tag cloud:</h3>
                <div>
                    {{ site | tag_cloud }}
                </div>
            </article>
        </section>
